body{
    color:#40514E ;
    margin: 0;
    text-align: center;  
    
  }
  hr{
    border: dotted #EAF6F6 6px;
    border-bottom:none ;
    width:4% ;
    margin: 100px auto ;
  }
h1{
    color:#8BE8E5;
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'sacramento', cursive;
    
    
     
 }
 h2{
    font-size: 2.5rem;
    color:#8BE8E5;
    font-weight: normal;
    padding-bottom: 10px;
 }
 h3{
    color:#8BE8E5;
 }
 p{
    line-height:2;
 }
 .intro{
    width:30% ;
    margin: auto;
 }
.Top-container
{
    background-color:#33BBC5;
    position: relative;
    padding-top: 145px; 
}
.skill-row{

width:50%;
margin: 100px auto 100px auto ;
text-align: left;

}
.skill-img{
    width: 25%;
    float: left;
    margin-right:30px ;
}
.skill-img2{
    width: 25%; ;
    float:right;
    margin-left: 30px;
}
.Bottom-cloud
{
position:absolute;
left: 500px;
bottom:300px ;
}
a{
    color:#11999E;
    font-family: 'Montserrat' sans-serif;
    margin:10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}

.Top-cloud{
    position: absolute;
    right:400px;
    top: 50px; ;
}


.middle-container
{
    margin: 100px 0;

    
  
}

.Bottom-container
{
background-color: #66BFBF;
padding: 50px 0 20px;



}
.spaan
{
    background-color: blue;
    display:inline-block;
}
.second-p
{
    background-color: bisque;
    display: block;
}
img
{


}

.btn{
    font-size:20px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:rgba(103, 226, 225, 1);
    font-weight:bold;
    border-radius:8px ;
    text-shadow: 1px 1px 0px rgba(76, 226, 214, 1);
    background:rgba(82, 223, 217, 1);
  }
  
  .btn:hover {
    background: rgba(124, 243, 241, 1)
  }
        .copyright{
            color: #EAF6F6;
            padding: 20px 0px;
        }







